* {box-sizing: border-box;}
* {margin: 0px; padding: 0px;}


fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

#container html, body {
    height: 100%;
    margin: 0px;
    z-index: 0;
}


span {
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
}

h1 {

    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: black;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: black;
    text-decoration-thickness: 1px;
}

#contact { 
    position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: black;
    background-color: #F3F3ED;
}

#topbar {
        left: 0;
        top: 0;
        width: 100%;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: black;


}



/*Collumns as Classes*/

.row::after {
  content: "";
  clear: both;
  display: table;
}

.intro
{
    height: 100%;
    margin: 0px;
    font-family:neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;
    overflow: hidden;
    display: inline-block;

}

.chat{
width: 100%
}

.columns
{
    margin-bottom: 20px;
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: black;
}


[class*="col-"] {
  float: left;
  padding: 25px;
}

.col-1 {width: 16.6%;}
.col-2 {width: 33.2%;}
.col-3 {width: 49.8%;}
.col-4 {width: 66.4%;}
.col-5 {width: 83%;}
.col-6 {width: 100%;}


/*RESPONISVE*/

/*intro typography*/

@media screen and (max-width: 600px) {
  .intro { font-size: 25px; }
}
@media screen and (min-width: 600px) {
  .intro { font-size: 30px; }
}
@media screen and (min-width: 850px) {
  .intro { font-size: 40px; }
}
@media screen and (min-width: 1250px) {
  .intro { font-size: 20px; }
}


/*headers typography*/

@media screen and (max-width: 600px) {
  h1 { font-size: 20px; }
}
@media screen and (min-width: 600px) {
  h1 { font-size: 22px; }
}
@media screen and (min-width: 880px) {
  h1 { font-size: 22px; }
}
@media screen and (min-width: 1250px) {
  h1 { font-size: 18px; }
}

/*bottom columns typography*/

@media screen and (max-width: 600px) {
  .columns { font-size: 20px; }
}
@media screen and (min-width: 600px) {
  .columns { font-size: 22px; }
}
@media screen and (min-width: 880px) {
  .columns { font-size: 22px; }
}
@media screen and (min-width: 1250px) {
  .columns{ font-size: 18px; }
}

/*Columns from 3 to 2 at 880px*/
@media screen and (max-width: 880px) {
.col-1 {width: 33.2%;}
.col-2 {width: 49.8%;}
.col-3 {width: 66.4%;}
.col-4 {width: 66.4%;}
.col-5 {width: 83%;}
.col-6 {width: 100%;}

}

/*Mobile 1 column at 100% width*/

@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }

}



